<!DOCTYPE html>
<html>
    <head>
        <link href="static/style.css" rel="stylesheet"/>
    </head>

<body>
    <div> {{song_name}}</div>
    <div> {{song_artist}}</div>
    <img class="banner" src ={{song_img}} />
    <div class="dot"><audio controls src={{preview_url}}><audio/></div>
    <a href="{{song_lyrics_link}}" class="button">song lyrics link </a>
    <a href="{{preview_url}}" class="button">preview url</a>
    <a href="{{song_img}}" class="button"> song's cover</a>
    
</body>
</html>

